<!DOCTYPE html><html lang="en"><%- include('./partials/head.ejs') %><body><div class="home"><div class="overlay"><%- include('./partials/nav.ejs') %><div class="home-body"><div class="about"><div class="img-cont"><img src="/imgs/ali3.jfif" alt="an image for me"></div>
  <div class="content">
    <h2><span>A</span><span>l</span><span>i</span><span>Z</span><span>a</span><span>g</span><span>h</span><span>l</span><span>o</span><span>u</span><span>l</span></h2><p>web developer|web designer</p>
  </div></div><div class="links"><ul><li><a href="/about"><span>About me</span> </a></li><li><a href="/prices">Prices</a></li><li><a href="/portfolio">My work</a></li><li><a href="/contact">Contact</a></li></ul></div>
</div></div></div>


<div class="footer">

</div><%- include('./partials/footer.ejs') %><script src="/js/index.js"></script><%- include('./partials/scripts.ejs') %></body>
</html>