<!DOCTYPE html><html lang="en"><%- include('./partials/head.ejs') %><body><div class="prices"><div class="overlay"><%- include('./partials/nav.ejs') %><div class="prices-cards"><div class="container"><div class="row"><div class="card" data-link="/e-commerces"><img src="/imgs/e-commerce-collection.png"class="card-img-top"alt="..."><div class="card-body"><h5 class="card-title">E-commerce website</h5>
  <p class="card-text">an online store to sell your products</p></div><ul class="list-group list-group-flush"><li class="list-group-item"><a href="/e-commerces">view websites</a></li><li class="list-group-item"><span>$</span><span>1</span><span>0</span><span>0</span></li></ul>
</div><div class="card" data-link="/landing-pages"><img src="/imgs/my-collection.png"class="card-img-top"alt="..."><div class="card-body"><h5 class="card-title">personal page</h5>
  <p class="card-text">a pesonal page for you or your brand to show your skills</p></div><ul class="list-group list-group-flush"><li class="list-group-item"><a href="/landing-pages">view websites</a></li><li class="list-group-item"><span>$</span><span>1</span><span>5</span></li></ul></div>
</div><div class="row"><div class="card"data-link="/softwares"><img src="/imgs/software-collection.png" class="card-img-top" alt="..."><div class="card-body"><h5 class="card-title">software website</h5>
  <p class="card-text">A website to do a specific funtion</p></div><ul class="list-group list-group-flush"><li class="list-group-item"><a href="/softwares">view websites</a></li><li class="list-group-item"><span>$</span><span>3</span><span>8</span></li></ul></div>
</div></div></div>




</div></div><div class="footer"></div><%- include('./partials/footer.ejs') %><%- include('./partials/scripts.ejs') %><script src="/js/prices.js"></script></body>
</html>