<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="portfolio">
      <div class="overlay">
        <%- include('./partials/nav.ejs') %>
        <div style="height: 100vh" class="cards">
          <h1 class="page-title">software websites</h1>
          <div class="container">
            <div class="row">
              <div
                data-link="https://az-ecommerce.herokuapp.com/"
                class="card col-sm-12.col-md-12.col-lg-6.col-xl-6"
              >
                <span
                  class="d-sm-none d-md-none d-lg-flex d-xl-flex slider before"
                  ><span class="perfect-for"
                    ><span class="perfect-title">perfect for:</span
                    ><span>branding</span> <span>e-commerce</span
                    ><span>online store</span> </span
                  ><span>click to view website</span>
                </span>
                <div class="website-o">
                  <img src="/imgs/website4.png" alt="" />
                </div>
                <div
                  class="card-body d-sm-block d-md-block d-lg-none d-xl-none"
                >
                  <h5
                    style="
                      color: black;
                      width: fit-content;
                      margin: auto;
                      text-align: center;
                    "
                  >
                    click to view website
                  </h5>
                </div>
              </div>
              <div
                data-link="https://e7sbly2.herokuapp.com/"
                class="card col-sm-12 .col-md-12 .col-lg-6 .col-xl-6"
              >
                <span
                  class="d-sm-none d-md-none d-lg-flex d-xl-flex slider before"
                  ><span class="perfect-for"
                    ><span class="perfect-title">perfect for:</span
                    ><span>winings calculator</span> <span>stores</span></span
                  ><span>click to view website</span>
                </span>
                <div class="website-o">
                  <img src="/imgs/website5.png" alt="" />
                </div>
                <div
                  class="card-body d-sm-block d-md-block d-lg-none d-xl-none"
                >
                  <h5
                    style="
                      color: black;
                      width: fit-content;
                      margin: auto;
                      text-align: center;
                    "
                  >
                    click to view website
                  </h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                data-link="https://articles-with-ali.herokuapp.com/index"
                class="card col-sm-12.col-md-12.col-lg-6.col-xl-6"
              >
                <span
                  class="d-sm-none d-md-none d-lg-flex d-xl-flex slider before"
                  ><span class="perfect-for"
                    ><span class="perfect-title">perfect for:</span
                    ><span>Articles</span>
                    <span>information website</span></span
                  ><span>click to view website</span>
                </span>
                <div class="website-o">
                  <img src="/imgs/website6.png" alt="" />
                </div>
                <div
                  class="card-body d-sm-block d-md-block d-lg-none d-xl-none"
                >
                  <h5
                    style="
                      color: black;
                      width: fit-content;
                      margin: auto;
                      text-align: center;
                    "
                  >
                    click to view website
                  </h5>
                </div>
              </div>
              <div
              data-link="https://az-calculator.web.app/"
              class="card col-sm-12 .col-md-12 .col-lg-6 .col-xl-6"
            >
              <span
                class="d-sm-none d-md-none d-lg-flex d-xl-flex slider after"
                ><span class="perfect-for"
                  ><span class="perfect-title">perfect for:</span
                  ><span>calculator</span>
                  <span>functions website</span></span
                ><span>click to view website</span>
              </span>
              <div class="website-o">
                <img src="/imgs/calc1.png" alt="" />
              </div>
              <div
                class="card-body d-sm-block d-md-block d-lg-none d-xl-none"
              >
                <h5
                  style="
                    color: black;
                    width: fit-content;
                    margin: auto;
                    text-align: center;
                  "
                >
                  click to view website
                </h5>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %><%- include('./partials/scripts.ejs')
    %>
    <script src="/js/portfolio.js"></script>
  </body>
</html>
