<!DOCTYPE html><html lang="en"><%- include('./partials/head.ejs') %><body><section class="about"><div class="overlay"><%- include('./partials/nav.ejs') %><div class="container"><div class="body"><div class="text"><p id="about-text">I am Ali Tarek Zaghloul.I have borned;and currently living in cairo;egypt.I am a<a href="https://bootcamp.learn.utoronto.ca/blog/what-is-a-full-stack-developer/">full stack web developer</a>, 
  that means i can do
  the design and the codding
  sides of a website. I have worked
  at this scope for one and half
  year, so i did alot of websites
  and i showed some of them on
  my <a href="/portfolio">portfolio</a>. the thing that distinguish me is the qulity of my work. in
other words,i will put all my;effort to make your project have the;best qulity possible</p>
</div><div class="img-cont"><img src="/imgs/ali-cut3.png"alt=""></div></div>
</div></div></div>


<div class="footer">

</div><%- include('./partials/footer.ejs') %><%- include('./partials/scripts.ejs') %><script src="/js/about.js"></script></body>
</html>